@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Optional: Reset some defaults */
body {
  font-family: 'Vazir', sans-serif;
  /* direction: rtl; */
  /* text-align: right; */
  background-color: #f9fafb;
  color: #111827;
}