@import "tailwindcss";
@plugin "daisyui";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Optional: Reset some defaults */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, nord;
}

body {
  font-family: 'Vazir', sans-serif;
  text-align: center;
  scroll-padding-top: 6rem;
}